<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a  href="/">Home</a>
      <a href="/collections">All Collections</a>
      <% if (user) { %>
        <a href="/collections/new">Add Collection</a>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google"><img class="loginImg" src="https://i.imgur.com/FHjYyi0.png">LOG IN</a>
          <% } %>
      </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>