<%- include('partials/header') %>

<h2>views/index</h2>

<form action="/cards" method="GET">
    <label>Card Name:</label>
    <input type="text" name="name">
    <label>Set Name:</label>
    <input type="text" name="set">
    <input type="submit">
</form>

<%- include('partials/footer') %>