<%- include('../partials/header') %>

<form id="new-collection-form" action="/collections" method="POST">
    <label>Deck Name:</label>
    <input type="text" name="deckName">
    <label>Format:</label>
    <input type="text" name="format">
    <input type="submit" value="Add Deck">
    <label>Input Cards</label>

</form>

<%- include('../partials/footer') %>