<%- include('../partials/header') %>

<h2>collections/new</h2>

<form id="new-collection-form" action="/collections" method="POST">
    <label>Collection Name:</label>
    <input type="text" name="collectionName">
    <label>Format:</label>
    <input type="text" name="format">
    <input type="submit" value="Add Collection"><br>
</form>

<%- include('../partials/footer') %>