<%- include('../partials/header') %>

<h2>collections/show</h2>

<table>
    <tr>
        <th>Collection Name</th>
        <th>Format</th>
        <th>Add Cards</th>
    </tr>
    <% collections.forEach(function(c) { %>
    <tr>
        <td><%= c.collectionName %></td>
        <td><%= c.format %></td>
        <td><a href="/cards/show">Add</a></td>
    </tr>
    <% }); %>


</table>

<%- include('../partials/footer') %>