<%- include('../partials/header') %>

<h2>collections/show</h2>

<table>
    <tr>
        <th>Collection Name</th>
        <th>Format</th>
    </tr>
    <tr>
        <td><%= collection.collectionName %></td>
        <td><%= collection.format %></td>
    </tr>
</table>

<%- include('../partials/footer') %>