body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("../images/background.jpg");
  background-size: cover; */
  margin: 0;
}

body > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8c0c2;
  width: 100%;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  background-color: black;
  color: white;
}

.loginImg {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: auto;
}