<form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
    <!-- Value attribute is being set to the comment's current text -->
    <input name="text" value="<%= review.text %>">
    <button type="submit">UPDATE COMMENT</button>
  </form>